{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Page
{% endblock %}

{% block body %}
<h1>Create a New Encyclopedia Entry</h1>

<form action="{% url 'create' %}" method="post">
  {% csrf_token %}
  <label for="title">Title:</label><br>
  <input type="text" name="title" id="title" required><br><br>

  <label for="content">Content (Markdown):</label><br>
  <textarea name="content" id="content" rows="10" cols="60" required></textarea><br><br>

  <input type="submit" value="Create Page">
</form>
{% endblock %}
